{% extends "proj/baseProj.html.twig" %}

{% block content %}
<h1>OM projekt</h1>
<p>som berättar någorlunda utförligt om ditt projekt och vad det handlar om.</p>

<h2>Dokumentation</h2>
<p>
    Länk till dokumentationen som är genererad via phpdoc.</p>
    <p>Länk till rapporten från phpmetrics.</p>
    <p>Länk till ditt GitHub repo.</p>
    <p>Länk till Scrutinizer för ditt repo.
</p>

<h2>Kodkvalitet</h2>

<p>Din about-sida skall innehålla en summering där du berättar om projektets kodkvalitet. Berätta vilka eventuella åtgärder du gjort för att kvalitetssäkra projektet och hur du jobbat med kodkvaliteten och vilka verktyg du använt. Har du fokuserat på några speciella saker, verktyg eller metrics, så kan du berätta om dem.</p>



<p>Jag ska kolla på 4.a stress och mobbning</p>
<p>4.4 utbildningsnivå</p>

{% endblock %}