html {
    background-color: #ffffff;
    color: black;
    font-size: 100%;
}

.container {
    margin-bottom: 30px;
}

.content {
    margin-top: 2%;
    min-height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    max-width: 800px;
}

.content p {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 1.8rem;
}

.content img {
    margin-bottom: 1.8rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#FF768C;
    text-align: center;
    padding: 10px;
}

.card {
    min-width: fit-content;
    border: 1px solid black;
    max-width: 50px;
    text-align: center;
    background-color: white;
}

.red {
    color: red;
}

.black {
    color: black;
}

.color {
    float: left;
    padding: 5px;
    margin-bottom: 0px;
}

.value {
    padding: 5px;
    margin-bottom: 0px;
}

.deckdiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.deckdiv h1 {
    grid-column: 1/14;
    justify-self: center;
}

.card-left {
    grid-column: 1/15;
    grid-row: 2/2;
}

.joker p{
    color: black;
    font-size: 20px;
}

.game-board {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(180, 204, 180);
}

.knapp {
    margin-top: 10px;
}

.books {
    display: flex;
    flex-wrap: wrap;
}

.book {
    border: 2px solid rgb(192, 190, 190);
    margin: 10px;
    margin-left: 0;
    padding: 10px;
}

.single {
    display: flex;
    flex-wrap: wrap;
    background-color: #ced4cf;
    padding: 10px;
}

.oneBook {
    margin: 10px;
    padding: 10px;
    padding-top: 0;
}

.oneBook h2 {
    margin-top: 0;
}

.symbol {
    font-size: 25px;
    padding: 10px;
    text-decoration: none;
}

.symbol:hover {
    text-decoration: none;
    color:rgb(99, 73, 83);
}

.hovertext {
    position: relative;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: rgb(244, 240, 240);
    color: rgb(30, 29, 29);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}
.hovertext:hover:before {
    opacity: 0.8;
    visibility: visible;
}

.margin {
    margin-top: 10px;
}

.container h1 {
    background-color: #ced4cf;
    padding: 10px;
    color: rgb(9, 8, 8);
}