{% extends "base.html.twig" %}

{% block title %}21{% endblock %}

{% block content %}
<h1>Kortspelet 21</h1>
<div class="player game-board row">
    <h5>Spelare 1</h5>
    <form action="{{ url("game-draw") }}">
        <input type="submit" class="btn knapp" value="Dra ett kort" />
    </form>
    <button class="btn knapp">Stanna</button>
</div>


<div class="bank game-board row">
    <h5>Banken</h5>
</div>

{% endblock %}