{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block content %}
<h1>Dokumentation</h1>
<img src="{{ asset("img/pseudokod-game.png") }}" width="400" alt="pseudokod">
<h3>Flowchart</h3>
<img src="{{ asset("img/flowchart-game.png") }}" width="400" alt="flowchart">
<h3>Klasser</h3>
<ul>
    <li>Player - som kommer hålla spelarens information och bankens information</li>
    <li>Card - håller värdet på varje kort</li>
    <li>CardHand - som sparar alla kort som spelaren och banken drar</li>
    <li>Deck - samlar hela kortleken</li>
    <li>Game - här kommer det finnas funktionalitet som rör spelet 21</li>
</ul>
{% endblock %}