{% extends 'base.html.twig' %}

{% block title %}Add book{% endblock %}

{% block content %}

<div class="container">
    <h1>Add book to Library</h1>
    <form action="{{ path("show") }}" method="post">
        <fieldset class="form-group">
            <div>
                <label class="margin">Title</label>
                <input type="text" class="form-control" name="title">
            </div>
            <div>
                <label class="margin">Author</label>
                <input type="text" class="form-control" name="author">
            </div>
            <div>
                <label class="margin">ISBN</label>
                <input type="text" class="form-control" name="isbn">
            </div>
            <div>
                <label class="margin">Image</label>
                <input type="text" class="form-control" name="image_url">
            </div>
            <input type="submit"class="margin btn btn-success btn-lg btn-block" value="Add">
        </fieldset>
            </form>
        </div>        
    </form>
</div>
{% endblock %}
