{% extends 'base.html.twig' %}

{% block title %}Add book{% endblock %}

{% block content %}

<div class="container">
    <h1>Add book to Library</h1>
    <form action="{{ path("show") }}" method="post">
<fieldset>
    <label>Title</label>
    <input type="text" name="title">
    <label>Author</label>
    <input type="text" name="author">
    <label>ISBN</label>
    <input type="text" name="isbn">
    <label>Image</label>
    <input type="text" name="image_url">
    <input type="submit" value="Add">
</fieldset>
    </form>
</div>
{% endblock %}
