{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block content %}
<div class="container">
    <h1>Library</h1>
    <div>
        <h5><a href="{{ url("create_book") }}">- Create book</a></h5>
        <h5><a href="{{ url("show_all_books") }}">- Show all books</a></h5>
    </div>
</div>
{% endblock %}
